<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Loan Management System | Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-users-gear me-2"></i>Loan Sys</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/img/admin.png" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Super</h6>
                        <span>Administrator</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link">
                        <i class="fa fa-tachometer-alt me-2"></i>
                        <span>Dashboard</span>
                    </a>
                    <a href="/admin/agents" class="nav-item nav-link">
                        <i class="fa-solid fa-users-gear me-2"></i>
                        <span>Agents</span>
                    </a>
                    
                    <a href="/admin/loans" class="nav-item nav-link active">
                        <i class="fa-solid fa-hand-holding-dollar me-2"></i>
                        <span>Loans</span>
                    </a>
                    <a href="/admin/customers" class="nav-item nav-link">
                        <i class="fa-solid fa-users me-2"></i>
                        <span>Customers</span>
                    </a>
                    <a href="/admin/transactions" class="nav-item nav-link">
                        <i class="fa-solid fa-money-bill-transfer me-2"></i>
                        <span>Transactions</span>
                    </a>
                    <a href="/admin/trends" class="nav-item nav-link">
                        <i class="fa-solid fa-chart-simple me-2"></i>
                        <span>Trends</span>
                    </a>
                    <a href="/admin/logs" class="nav-item nav-link">
                        <i class="fa-solid fa-server me-2"></i>
                        <span>Activities</span>
                    </a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/" class="navbar-brand d-flex d-lg-none me-4" title="home">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                
                <div class="navbar-nav align-items-center ms-auto">
                                      
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/img/agent.png" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex"><i class="fa-solid fa-circle-question me-2" title="Help"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="/" class="dropdown-item">
                                <i class="fas fa-home me-2"></i>
                                <span>Home</span>
                            </a>
                            <a href="/login" class="dropdown-item">
                                <i class="fa-solid fa-right-to-bracket me-2"></i>
                                <span>Login</span>
                            </a>
                            <a href="/register" class="dropdown-item">
                                <i class="fa-solid fa-user-plus me-2"></i>
                                <span>Register</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-6 mb-4">
                    <div class="bg-secondary rounded h-100 p-4">
                       <form action="/loan/create-type" method="post" class="m-2">
                        <h6 class="mb-4">Add new loan type</h6>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Loan Title" autocomplete="off" name="title" required>
                            <label for="floatingInput">Loan Type title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" max="50000000" autocomplete="off" class="form-control" id="floatingPassword" placeholder="Minimum" name="minAmount" required>
                            <label for="floatingPassword">Minimum Amount</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingIdNo" placeholder="Maximum Amount" name="maxAmount" required>
                            <label for="floatingIdNo">Maximum Amount</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingConstituency" placeholder="Duration" name="duration" required>
                            <label for="floatingConstituency">Duration (months)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingVillage" placeholder="Rate" name="rate" required>
                            <label for="floatingVillage">Rate (1 - 100) %</label>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary m-2">ADD LOAN TYPE</button>
                        </div>
                       </form>
                    </div>
                </div>
                <div class="row g-4 mb-2">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">LOAN TYPES</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Range</th>
                                            <th scope="col">Duration</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col"><i class="fa-solid fa-pen-nib"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% loanTypes.map(({title, minAmount, maxAmount, duration, rate, _id})=>{ %>

                                            <tr>
                                                <td><%= title %></td>
                                                <td>Ksh <%= minAmount/1000 %>k - <%= maxAmount/1000 %>k</td>
                                                <td><%= duration %> Months</td>
                                                <td><%= rate %>%</td>
                                                <td>
                                                    <a href="/loan/edit-type?id=<%= _id %>">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                       <% }) %>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">LOANS</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Loan Type</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Deadline</th>
                                            <th scope="col">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </th>
                                            <th>
                                                <i class="fa-solid fa-trash-can"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% loans.map(({customerName, typeName, amountRequested, deadline, isAccepted, _id})=>{ %>

                                            <tr>
                                                <td>
                                                    <%= customerName %>
                                                </td>
                                                <td>
                                                    <%= typeName %>
                                                </td>
                                                <td>Ksh. <%= amountRequested / 1000 %>k</td>
                                                <td>
                                                    <%= moment(deadline).fromNow() %>
                                                </td>
                                                
                                                    <% if(isAccepted) {%>
                                                        <td>
                                                            <i class="fa-solid fa-ban"></i>
                                                        </td>
                                                            <td>
                                                                <i class="fa-solid fa-ban"></i>
                                                            </td>
                                                            
                                                    <% } else { %>
                                                            <td>
                                                                <a href="/admin/accept-loan?id=<%= _id %>" class="text-success" title="Accept Loan">
                                                                    <i class="fa-regular fa-square-check"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="/admin/delete-loan?id=<%= _id %>" class="text-danger">
                                                                    <i title="Delete Loan" class="fa-solid fa-trash"></i>
                                                                </a>
                                                            </td>
                                                            
                                                    <% } %>
                                                
                                            </tr>

                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Content End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="/js/main.js"></script>
</body>

</html>