<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Loan Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa-solid fa-users-gear"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/img/agent.png" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">
                                <%= name %>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item"><i class="fa-solid fa-bell"></i>
                                <span>Notifications</span></a>
                            <a href="#" class="dropdown-item"><i class="fa-solid fa-chart-simple"></i>
                                <span>Settings</span></a>
                            <a href="#" class="dropdown-item"><i class="fa-solid fa-hand-holding-dollar"></i>
                                <span>Loans</span> </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Sidebar Start -->
            <div class="sidebar pe-4 pb-3">
                <nav class="navbar bg-secondary navbar-dark">
                    <a href="/" class="navbar-brand mx-4 mb-3">
                        <h3 class="text-primary"><i class="fa fa-users-gear me-2"></i>Loan Sys</h3>
                    </a>
                    <div class="d-flex align-items-center ms-4 mb-4">
                        <div class="position-relative">
                            <img class="rounded-circle" src="/img/agent.png" alt="" style="width: 40px; height: 40px;">
                            <div
                                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                            </div>
                        </div>
                        <div class="ms-3">
                            <h6 class="mb-0">
                                <%= name %>
                            </h6>
                            <span>Agent</span>
                        </div>
                    </div>
                    <div class="navbar-nav w-100">
                        <a href="/agent" class="nav-item nav-link">
                            <i class="fa fa-tachometer-alt me-2"></i>
                            <span>Dashboard</span>
                        </a>
                        <a href="/agent/loans" class="nav-item nav-link active">
                            <i class="fa-solid fa-hand-holding-dollar me-2"></i>
                            <span>Loans</span>
                        </a>
                        <a href="/agent/customers" class="nav-item nav-link">
                            <i class="fa-solid fa-users me-2"></i>
                            <span>Customers</span>
                        </a>
                        <a href="/agent/settings" class="nav-item nav-link">
                            <i class="fa-solid fa-gear me-2"></i>
                            <span>Settings</span>
                        </a>

                    </div>
                </nav>
            </div>
            <!-- Sidebar End -->


            <!-- Content Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-6 mb-4">
                    <div class="bg-secondary rounded h-100 p-4">
                        <form action="/loan/create" method="post" class="m-2">
                            <h6 class="mb-4">Add new loan type</h6>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" name="customer" required>
                                    <option selected="">Select Customer</option>
                                    <% customers.map(({name, village, _id})=>{ %>
                                        <option value="<%= _id %>">
                                            <%= name %> -- (<%= village %>)
                                        </option>
                                        <% }) %>
                                </select>
                                <label for="floatingSelect">Customer name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect1"
                                    aria-label="Floating label select example" name="loanType" required>
                                    <option selected="">Select Loan Type</option>
                                    <% loanTypes.map(({title, _id})=>{ %>
                                        <option value="<%= _id %>">
                                            <%= title %>
                                        </option>
                                        <% }) %>
                                </select>
                                <label for="floatingSelec1">Select loan type</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingIdNo" placeholder="Maximum Amount"
                                    name="amountRequested" min="1000" required>
                                <label for="floatingIdNo">Requested Amount</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingConstituency" placeholder="Duration"
                                    name="deadline" required>
                                <label for="floatingConstituency">Deadline</label>
                            </div>

                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-primary m-2">ADD LOAN REQUEST</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">LOANS</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Loan Type</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Deadline</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% loans.map(({customerName, typeName, amountRequested, deadline})=>{ %>

                                            <tr>
                                                <td>
                                                    <%= customerName %>
                                                </td>
                                                <td>
                                                    <%= typeName %>
                                                </td>
                                                <td>Ksh. <%= amountRequested / 1000 %>k</td>
                                                <td>
                                                    <%= moment(deadline).fromNow() %>
                                                </td>
                                            </tr>

                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Content End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/chart/chart.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script>
            (function ($) {
                "use strict";

                // Spinner
                var spinner = function () {
                    setTimeout(function () {
                        if ($('#spinner').length > 0) {
                            $('#spinner').removeClass('show');
                        }
                    }, 1);
                };
                spinner();


                // Back to top button
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 300) {
                        $('.back-to-top').fadeIn('slow');
                    } else {
                        $('.back-to-top').fadeOut('slow');
                    }
                });
                $('.back-to-top').click(function () {
                    $('html, body').animate({ scrollTop: 0 }, 1500, 'easeInOutExpo');
                    return false;
                });


                // Sidebar Toggler
                $('.sidebar-toggler').click(function () {
                    $('.sidebar, .content').toggleClass("open");
                    return false;
                });


                // Progress Bar
                $('.pg-bar').waypoint(function () {
                    $('.progress .progress-bar').each(function () {
                        $(this).css("width", $(this).attr("aria-valuenow") + '%');
                    });
                }, { offset: '80%' });




            })(jQuery);


        </script>

</body>

</html>