<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Loan Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-users-gear me-2"></i>Loan Sys</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/img/admin.png" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Super</h6>
                        <span>Administrator</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link active">
                        <i class="fa fa-tachometer-alt me-2"></i>
                        <span>Dashboard</span>
                    </a>
                    <a href="/admin/agents" class="nav-item nav-link">
                        <i class="fa-solid fa-users-gear me-2"></i>
                        <span>Agents</span>
                    </a>

                    <a href="/admin/loans" class="nav-item nav-link">
                        <i class="fa-solid fa-hand-holding-dollar me-2"></i>
                        <span>Loans</span>
                    </a>
                    <a href="/admin/customers" class="nav-item nav-link">
                        <i class="fa-solid fa-users me-2"></i>
                        <span>Customers</span>
                    </a>
                    <a href="/admin/transactions" class="nav-item nav-link">
                        <i class="fa-solid fa-money-bill-transfer me-2"></i>
                        <span>Transactions</span>
                    </a>
                    <a href="/admin/trends" class="nav-item nav-link">
                        <i class="fa-solid fa-chart-simple me-2"></i>
                        <span>Trends</span>
                    </a>
                    <a href="/admin/logs" class="nav-item nav-link">
                        <i class="fa-solid fa-server me-2"></i>
                        <span>Activities</span>
                    </a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa-solid fa-users-gear"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/img/admin.png" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div
                            class="dropdown-menu dropdown-menu-end bg-secondary border border-primary border-top-0 rounded-0 rounded-bottom m-0">
                            <a href="/admin/agents" class="dropdown-item">
                                <i class="fa-solid fa-users-rectangle me-2"></i>
                                <span>Agents</span></a>
                            <a href="#" class="dropdown-item">
                                <i class="fa-solid fa-chart-simple me-2"></i>
                                <span>Trends</span></a>
                            <a href="#" class="dropdown-item">
                                <i class="fa-solid fa-hand-holding-dollar me-2"></i>
                                <span>Loans</span> </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Overall Trends</h6>
                        <a href="">See more</a>
                    </div>
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-line fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Income</p>
                                    <h6 class="mb-0">
                                        <%= overall.totalMoneyIn %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Expenditure</p>
                                    <h6 class="mb-0">
                                        <%= overall.totalMoneyOut %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-area fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Deductions</p>
                                    <h6 class="mb-0">
                                        <%= overall.transactionAmountDeducted %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Profit</p>
                                    <h6 class="mb-0">
                                        <%= overall.profit %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Today's Trends</h6>
                        <a href="">See more</a>
                    </div>
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-line fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Income</p>
                                    <h6 class="mb-0">
                                        <%= newData.totalMoneyIn %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Expenditure</p>
                                    <h6 class="mb-0">
                                        <%= newData.totalMoneyOut %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-area fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Deductions</p>
                                    <h6 class="mb-0">
                                        <%= newData.transactionAmountDeducted %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Profit</p>
                                    <h6 class="mb-0">
                                        <%= newData.profit %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Recent Loans Info</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Transactions</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="line-chart"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Sales Chart End -->
            <code id="raw-data">
                <%= JSON.stringify(monthsData) %>
            </code>
            
            
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Loans</h6>
                        <a href="/admin/loans">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Date</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% loans.map(({createdAt, typeName, customerName, amountRequested, status})=>{ %>
                                    <tr>

                                        <td><%= moment(createdAt).format("MMM Do") %></td>
                                        <td><%= typeName %></td>
                                        <td><%= customerName %></td>
                                        <td><%= amountRequested %></td>
                                        <td class="<%= status == "payed"? "text-success": status == 'disbursed' ? "text-info" : "text-danger" %>">
                                            <%= status %>
                                        </td>
    
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Agents</h6>
                                <a href="/admin/agents">Show All</a>
                            </div>
                            <% agents.map(({name, username, createdAt, status})=>{ %>
                                <div class="d-flex align-items-center border-bottom py-3">
                                    <img class="rounded-circle flex-shrink-0" src="/img/agent.png" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="w-100 ms-3">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-0"><%= name %></h6>
                                            <small><%= moment(createdAt).fromNow() %></small>
                                        </div>
                                        <div class="d-flex w-100 justify-content-between">
                                            <span class="mb-0">@<%= username %></span>
                                            <span class="<%= status == "active"? "text-success": status == 'suspended' ? "text-warning" : status == 'terminated'? "text-danger" : 'text-info' %>">
                                                <%= status %>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            <% }) %>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Customers</h6>
                                <a href="/admin/customers">Show All</a>
                            </div>
                            <% customers.map(({name, constituency, village, gender, createdAt})=>{ %>
                                <div class="d-flex align-items-center border-bottom py-3">
                                    <img class="rounded-circle flex-shrink-0" src="/img/<%= gender == 'female'? 'customer' : 'customer-male' %>.png" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="w-100 ms-3">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-0"><%= name %></h6>
                                            <small><%= moment(createdAt).fromNow() %></small>
                                        </div>
                                        <span><%= village %>, <%= constituency%></span>
                                    </div>
                                </div>
                            <% }) %>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>

                </div>


            </div>
            <!-- Widgets End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script>
        (function ($) {
            "use strict";

            // Spinner
            var spinner = function () {
                setTimeout(function () {
                    if ($('#spinner').length > 0) {
                        $('#spinner').removeClass('show');
                    }
                }, 1);
            };
            spinner();


            // Back to top button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('.back-to-top').fadeIn('slow');
                } else {
                    $('.back-to-top').fadeOut('slow');
                }
            });
            $('.back-to-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 1500, 'easeInOutExpo');
                return false;
            });


            // Sidebar Toggler
            $('.sidebar-toggler').click(function () {
                $('.sidebar, .content').toggleClass("open");
                return false;
            });


            // Progress Bar
            $('.pg-bar').waypoint(function () {
                $('.progress .progress-bar').each(function () {
                    $(this).css("width", $(this).attr("aria-valuenow") + '%');
                });
            }, { offset: '80%' });


            // Calender
            $('#calender').datetimepicker({
                inline: true,
                format: 'L'
            });


            // Testimonials carousel
            $(".testimonial-carousel").owlCarousel({
                autoplay: true,
                smartSpeed: 1000,
                items: 1,
                dots: true,
                loop: true,
                nav: false
            });


            // Chart Global Color
            Chart.defaults.color = "#6C7293";
            Chart.defaults.borderColor = "#000000";

            const rawData = JSON.parse($('#raw-data')[0].innerText);
            const months = rawData.map(({ month }) => month)

            // Worldwide Sales Chart
            var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
            var myChart1 = new Chart(ctx1, {
                type: "bar",
                data: {
                    labels: months,
                    datasets: [{
                        label: "Requested",
                        data: rawData.map(({ data }) => data.loansRequested),
                        backgroundColor: "rgba(0, 106, 255, 0.7)"
                    },
                    {
                        label: "Disbursed",
                        data: rawData.map(({ data }) => data.loansDisbursed),
                        backgroundColor: "rgba(255, 166, 0, 0.7)"
                    },
                    {
                        label: "Payed Back",
                        data: rawData.map(({ data }) => data.loansPayed),
                        backgroundColor: "rgba(1, 155, 24, 0.7)"
                    }
                    ]
                },
                options: {
                    responsive: true
                }
            });


            



            // Single Line Chart
            var ctx3 = $("#line-chart").get(0).getContext("2d");
            var myChart3 = new Chart(ctx3, {
                type: "line",
                data: {
                    labels: months,
                    datasets: [{
                        label: "Profit",
                        fill: false,
                        backgroundColor: "rgba(67, 178, 55, 0.7)",
                        data: rawData.map(({ data }) => data.profit)
                    }, {
                        label: "Income",
                        fill: false,
                        backgroundColor: "rgba(1, 78, 155, 0.7)",
                        data: rawData.map(({ data }) => data.totalMoneyIn)
                    },
                    {
                        label: "Expenses",
                        fill: false,
                        backgroundColor: "rgba(255, 99, 132, 0.7)",
                        data: rawData.map(({ data }) => data.totalMoneyOut)
                    },
                    ]
                },
                options: {
                    responsive: true
                }
            });


            


        })(jQuery);


    </script>
    <style>
        #raw-data{
            display: none;
        }
    </style>
</body>

</html>